<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>Venues</h1>
    </div>
    <div class="col-md-6 d-md-flex justify-content-end">
      <button class="customBtn" (click)="show()">CREATE NEW VENUE</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-custom-table
        (pageNumber)="filter ? onSearch($event) : getAllVenues($event)"
        [pageSize]="pageSize"
        [totalRecords]="totalRecords"
        [cols]="colsData"
        [rows]="rowsData"
        [showSearch]="false"
        [showFilter]="true"
        [showSearchByEmail]="true"
        [placeholderSearchByEmail]="'Search By Email'"
        [showSearchByName]="true"
        [placeholderSearchByName]="'Search by Venue'"
        (filterOutput)="onSearch($event)"
      ></app-custom-table>
    </div>
  </div>
</div>
