<p-toast key="toast1"></p-toast>

<div class="event-dialog">
  <div class="body">
    <form class="event-form" [formGroup]="eventForm">
      <div class="event-general mt-3">
        <h2>GENERAL INFORMATION</h2>
        <div class="row">
          <div class="col-xl-4 mb-3">
            <input
              type="text"
              pInputText
              formControlName="eventNameEN"
              placeholder="Event Name En"
            />
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <input
              type="text"
              pInputText
              formControlName="eventNameAR"
              placeholder="Event Name Ar"
            />
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <p-dropdown
              formControlName="categoryId"
              [options]="eventTypes"
              optionLabel="Name"
              placeholder="Event Type"
            ></p-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 mb-xl-0 mb-3">
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="eventDescriptionEN"
              placeholder="Event Description"
            ></textarea>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <div class="row">
              <div class="col-12 order-2 order-xl-1 mb-xl-3 mb-0">
                <input
                  type="text"
                  pInputText
                  formControlName="mainArtestNameEN"
                  placeholder="Main Artist Name En"
                />
              </div>
              <div class="col-12 order-1 order-xl-2 mb-xl-0 mb-3">
                <p-calendar
                  formControlName="eventDate"
                  selectionMode="range"
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  [readonlyInput]="true"
                  placeholder="Event Date 'From - To'"
                ></p-calendar>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <input
              type="text"
              pInputText
              formControlName="mainArtestNameAR"
              placeholder="Main Artist Name Ar"
            />
          </div>
        </div>
      </div>
      <div class="event-information mt-4 mb-5">
        <h2>INFORMATION</h2>
        <div class="row">
          <div class="col-xl-4">
            <p-dropdown
              formControlName="venueId"
              [options]="venuesOptions"
              optionLabel="Name"
              placeholder="Select a Venue"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="event-additional">
        <h2>ADDITIONAL INFORMATION</h2>
        <div class="row">
          <div class="col-xl-4 mb-4">
            <p-dropdown
              formControlName="attendanceOption"
              [options]="attendanceOptions"
              optionLabel="Name"
              placeholder="Attendance Options"
            ></p-dropdown>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              #fileInput
              type="file"
              id="formFile"
              accept="image/*"
              style="display: none"
              (change)="onFileSelected()"
            />
            <input
              type="text"
              pInputText
              style="cursor: pointer;"
              formControlName="poster"
              (click)="fileInput.click()"
              placeholder="Upload The Event Poster"
            />
            <small class="noteText mt-1">Preferred 96x96 .PNG</small>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="contactPerson"
              placeholder="Event Contact"
            />
            <small class="noteText mt-1">Optional</small>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="addtionalComment"
              placeholder="Additional Comments"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a class="btn resetBtn">RESET</a>
    <button class="btn createBtn">
      <span>CREATE</span>
      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
    </button>
  </div>
</div>
