<p-toast key="toast1"></p-toast>

<div class="venue-dialog">
  <div class="body" *ngIf="formPageNumber == 1">
    <form class="venue-form" [formGroup]="userForm">
      <div class="venue-general my-3">
        <h2>GENERAL INFORMATION</h2>
        <div class="row">
          <div class="col-xl-6 venueImageUploader">
            <input
              #fileInput
              type="file"
              id="formFile"
              accept="image/*"
              style="display: none"
              (change)="onFileSelected()"
            />
            <img
              [src]="
                this.uploadedImage
                  ? 'https://alafein.azurewebsites.net/' + this.uploadedImage
                  : 'assets/profile.svg'
              "
              (click)="fileInput.click()"
              [ngClass]="this.uploadedImage ? 'image-uploaded' : ''"
            />
            <span class="category-text">Upload the venue picture.</span>
            <div
              *ngIf="this.uploadedImage === null && isSubmit"
              style="color: red"
            >
              <small *ngIf="this.uploadedImage === null"
                >Venue Profile is required.</small
              >
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-xl-4 mb-3">
            <input
              type="text"
              pInputText
              formControlName="firstName"
              placeholder="Name En"
            />
            <div
              *ngIf="f['firstName'].errors && f['firstName'].touched"
              style="color: red"
            >
              <small *ngIf="f['firstName'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <input
              type="text"
              pInputText
              formControlName="lastName"
              placeholder="Name Ar"
            />
            <div
              *ngIf="f['lastName'].errors && f['lastName'].touched"
              style="color: red"
            >
              <small *ngIf="f['lastName'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <input
              type="email"
              pInputText
              formControlName="email"
              placeholder="Email"
            />
            <div
              *ngIf="f['email'].errors && f['email'].touched"
              style="color: red"
            >
              <small *ngIf="f['email'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <input
              type="password"
              pInputText
              formControlName="password"
              placeholder="Password"
            />
            <div
              *ngIf="f['password'].errors && f['password'].touched"
              style="color: red"
            >
              <small *ngIf="f['password'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="venueForm">
      <div class="venue-media-links mt-4">
        <h2>General Information & Social Media Links</h2>
        <div class="row">
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="venueName"
              placeholder="Venue Name"
            />
            <div
              *ngIf="g['venueName'].errors && g['venueName'].touched"
              style="color: red"
            >
              <small *ngIf="g['venueName'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="phoneNumber"
              placeholder="Phone Number"
            />
            <div
              *ngIf="g['phoneNumber'].errors && g['phoneNumber'].touched"
              style="color: red"
            >
              <small *ngIf="g['phoneNumber'].errors['required']"
                >Field is required.</small
              >
            </div>
            <div
              *ngIf="g['phoneNumber'].errors && g['phoneNumber'].touched"
              style="color: red"
            >
              <small *ngIf="g['phoneNumber'].errors['egyptianPhoneNumber']"
                >Phone Number Must be +20 (1234567890)</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <p-dropdown
              formControlName="categoryId"
              [options]="genreTypes"
              optionLabel="Name"
              [filter]="true"
              filterBy="Name"
              optionValue="Id"
              [showClear]="true"
              placeholder="Genre"
            ></p-dropdown>
            <div
              *ngIf="g['categoryId'].errors && g['categoryId'].touched"
              style="color: red"
            >
              <small *ngIf="g['categoryId'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>

          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="instagram"
              placeholder="Instagram Link"
              (change)="changeValidation('instagram')"
            />
            <div
              *ngIf="g['instagram'].errors && g['instagram'].touched"
              style="color: red"
            >
              <small *ngIf="g['instagram'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="facebook"
              placeholder="Facebook Link"
              (change)="changeValidation('facebook')"
            />
            <div
              *ngIf="g['facebook'].errors && g['facebook'].touched"
              style="color: red"
            >
              <small *ngIf="g['facebook'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="websiteURL"
              placeholder="Website URL"
              (change)="changeValidation('websiteURL')"
            />
            <div
              *ngIf="g['websiteURL'].errors && g['websiteURL'].touched"
              style="color: red"
            >
              <small *ngIf="g['websiteURL'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              (change)="changeValidation('other')"
              type="text"
              pInputText
              formControlName="other"
              placeholder="Other"
            />
            <div
              *ngIf="g['other'].errors && g['other'].touched"
              style="color: red"
            >
              <small *ngIf="g['other'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>

          <div class="col-xl-8 mb-xl-0 mb-3">
            <p-selectButton
              [options]="venueFacilties"
              formControlName="venueFacilities"
              [multiple]="true"
              optionLabel="ImageName"
              optionValue="Id"
              class="custom-select"
            >
              <ng-template let-facility pTemplate="item">
                <img
                  [src]="
                    'https://alafein.azurewebsites.net/' + facility.ImagePath
                  "
                  alt="{{ facility.Id }}"
                  width="31"
                  height="31"
                />
              </ng-template>
            </p-selectButton>
            <div
              *ngIf="
                g['venueFacilities'].errors && g['venueFacilities'].touched
              "
              style="color: red"
            >
              <small *ngIf="g['venueFacilities'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="row">
            <div class="col-xl-4 mb-xl-0 mb-3">
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="venueDescription"
                placeholder="Venue Description"
              ></textarea>
              <div
                *ngIf="
                  g['venueDescription'].errors && g['venueDescription'].touched
                "
                style="color: red"
              >
                <small *ngIf="g['venueDescription'].errors['required']"
                  >Field is required.</small
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="body" *ngIf="formPageNumber == 2">
    <form [formGroup]="venueForm">
      <div class="venue-days">
        <h2>GENERAL INFORMATION</h2>
        <div formArrayName="branches">
          <div
            *ngFor="let branch of branches.controls; let branchIndex = index"
            [formGroupName]="branchIndex"
          >
            <div class="row mt-3">
              <div class="col-xl-3">
                <input
                  type="text"
                  pInputText
                  formControlName="name"
                  placeholder="Branch Name"
                />
              </div>
              <div class="col-xl-4">
                <input
                  type="text"
                  pInputText
                  formControlName="address"
                  placeholder="Branch Address"
                />
              </div>
              <div class="col-xl-4">
                <input
                  type="text"
                  pInputText
                  formControlName="mapLink"
                  placeholder="Map Link"
                />
              </div>
              <div class="col-xl-10 mt-3">
                <p-selectButton
                  [options]="weekDays"
                  [multiple]="true"
                  optionLabel="Name"
                  (onChange)="openDay(branchIndex, $event.value)"
                ></p-selectButton>
              </div>
              <div class="col-xl-2 mt-4">
                <a class="rejectBtn" (click)="removeControl(branchIndex)"
                  >Remove</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 justify-content-end">
          <div class="col-10"></div>
          <div class="col-2">
            <a
              class="addBtn"
              *ngIf="venueForm.get('branches')?.value.length < 3"
              (click)="addBranch()"
              >Add Branch</a
            >
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="footer">
    <a class="btn resetBtn" (click)="onResetForm()">RESET</a>

    <button
      class="btn createBtn next"
      *ngIf="formPageNumber == 1"
      (click)="onFormSubmit(1)"
    >
      <span>NEXT</span>
      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
    </button>

    <button
      *ngIf="formPageNumber == 2"
      (click)="formPageNumber = 1"
      class="btn createBtn prev"
    >
      <img
        src="assets/icons/arrow-left.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
      <span>PREVIOUS</span>
    </button>

    <button
      class="btn createBtn complete"
      (click)="onFormSubmit()"
      *ngIf="formPageNumber == 2"
    >
      <span>COMPLETE</span>
      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
    </button>
  </div>
</div>
