<p-toast key="toast1"></p-toast>

<div class="venue-dialog">
  <div class="body" *ngIf="formPageNumber == 1">
    <form class="venue-form" [formGroup]="userForm">
      <div class="venue-general my-3">
        <h2>GENERAL INFORMATION</h2>
        <div class="row">
          <div class="col-xl-6 venueImageUploader">
            <input
              #fileInput
              type="file"
              id="formFile"
              accept="image/*"
              style="display: none"
              (change)="onFileSelected()"
            />
            <img
              [src]="
                this.uploadedImage
                  ? 'https://alafein.azurewebsites.net/' + this.uploadedImage
                  : 'assets/profile.svg'
              "
              (click)="fileInput.click()"
              [ngClass]="this.uploadedImage ? 'image-uploaded' : ''"
            />
            <span class="category-text">Upload the venue picture.</span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-xl-4 mb-3">
            <input
              type="text"
              pInputText
              formControlName="firstName"
              placeholder="Name En"
            />
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <input
              type="text"
              pInputText
              formControlName="lastName"
              placeholder="Name Ar"
            />
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <input
              type="email"
              pInputText
              formControlName="email"
              placeholder="Email"
            />
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <input
              type="password"
              pInputText
              formControlName="password"
              placeholder="Password"
            />
          </div>
        </div>
      </div>
    </form>
    <form [formGroup]="venueForm">
      <div class="venue-media-links mt-4">
        <h2>General Information & Social Media Links</h2>
        <div class="row">
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="venueName"
              placeholder="Venue Name"
            />
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="phoneNumber"
              placeholder="Phone Number"
            />
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <p-dropdown
              formControlName="categoryId"
              [options]="genreTypes"
              optionLabel="Name"
              optionValue="Id"
              placeholder="Genre"
            ></p-dropdown>
          </div>

          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="instagram"
              placeholder="Instagram Link"
            />
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="facebook"
              placeholder="Facebook Link"
            />
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="websiteURL"
              placeholder="Website URL"
            />
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="other"
              placeholder="Other"
            />
          </div>

          <div class="col-xl-4 mb-xl-0 mb-3">
            <p-selectButton
              [options]="venueFacilties"
              formControlName="venueFacilities"
              [multiple]="true"
              optionLabel="ImageName"
              optionValue="Id"
            >
              <ng-template let-facility pTemplate="item">
                <img
                  [src]="
                    'https://alafein.azurewebsites.net/' + facility.ImagePath
                  "
                  alt="{{ facility.Id }}"
                  width="31"
                  height="31"
                />
              </ng-template>
            </p-selectButton>
          </div>
          <div class="row">
            <div class="col-xl-4 mb-xl-0 mb-3">
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                formControlName="venueDescription"
                placeholder="Venue Description"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="body" *ngIf="formPageNumber == 2">
    <form [formGroup]="venueForm">
      <div class="venue-days">
        <h2>GENERAL INFORMATION</h2>
        <div formArrayName="branches">
          <div
            *ngFor="let branch of branches.controls; let branchIndex = index"
            [formGroupName]="branchIndex"
          >
            <div class="row mt-3">
              <div class="col-xl-3">
                <input
                  type="text"
                  pInputText
                  formControlName="name"
                  placeholder="Branch Name"
                />
              </div>
              <div class="col-xl-4">
                <input
                  type="text"
                  pInputText
                  formControlName="address"
                  placeholder="Branch Address"
                />
              </div>
              <div class="col-xl-4">
                <input
                  type="text"
                  pInputText
                  formControlName="mapLink"
                  placeholder="Map Link"
                />
              </div>
              <div class="col-xl-10 mt-3">
                <p-selectButton
                  [options]="weekDays"
                  [multiple]="true"
                  optionLabel="Name"
                  (onChange)="openDay(branchIndex, $event.value)"
                ></p-selectButton>
              </div>
              <div class="col-xl-2 mt-4">
                <a class="rejectBtn" (click)="removeControl(branchIndex)"
                  >Remove</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 justify-content-end">
          <div class="col-10"></div>
          <div class="col-2">
            <a class="addBtn" (click)="addBranch()">Add Branch</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a class="btn resetBtn" (click)="onResetForm()">RESET</a>

    <button
      class="btn createBtn next"
      *ngIf="formPageNumber == 1"
      (click)="formPageNumber = 2"
    >
      <span>NEXT</span>
      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
    </button>

    <button
      *ngIf="formPageNumber == 2"
      (click)="formPageNumber = 1"
      class="btn createBtn prev"
    >
      <img
        src="assets/icons/arrow-left.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
      <span>PREVIOUS</span>
    </button>

    <button
      class="btn createBtn complete"
      (click)="onFormSubmit()"
      *ngIf="formPageNumber == 2"
    >
      <span>COMPLETE</span>
      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
    </button>
  </div>
</div>
