<p-toast key="toast1"></p-toast>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>pending comments</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-custom-table
        (pageNumber)="filter ? onSearch($event) : getList($event)"
        [showSearch]="false"
        [showFilter]="true"
        [placeholderSearchByName]="'Search by Name'"
        [showSearchByName]="true"
        [showSearchByEvent]="true"
        [placeholderSearchByEvent]="'Search By Event'"
        (filterOutput)="onSearch($event)"
        [pageSize]="pageSize"
        [totalRecords]="totalRecords"
        [cols]="colsData"
        [rows]="rowsData"
        [isDots]="true"
        [actions]="actions"
        [pageType]="'Comment'"
        (approveDetails)="toggleCommentStatus($event)"
        (disapproveDetails)="toggleCommentStatus($event)"
      ></app-custom-table>
    </div>
  </div>
</div>
