<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>EVENT SPOTLIGHT</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-custom-table
            [pageSize]="pageSize"
            [totalRecords]="totalRecords"
            [cols]="colsData"
            [rows]="rowsData"
            [isDots]="true"
          ></app-custom-table>
        </div>
    </div>
</div>