<section class="sidenavSection">
  <div class="d-flex flex-column bg-light" style="width: 100%">
    <ul class="nav flex-column align-items-center">
      <li class="nav-item text-center d-flex justify-content-center w-100">
        <a [routerLink]="'/home'" routerLinkActive="active" class="nav-link my-3 w-100">
          <img src="assets/icons/home.svg" alt="Home">
          <span>HOME</span>
        </a>
      </li>
      <li class="nav-item text-center d-flex justify-content-center w-100">
        <a [routerLink]="'/users'" routerLinkActive="active" class="nav-link my-3 w-100">
          <img src="assets/icons/users.svg" alt="Users">
          <span>USERS</span>
        </a>
      </li>
      <li class="nav-item text-center d-flex justify-content-center w-100">
        <a [routerLink]="'/event-organizers'" routerLinkActive="active" class="nav-link my-3 w-100">
          <img src="assets/icons/organizers.svg" alt="Event Organizers">
          <span>EVENT ORGANIZERS</span>
        </a>
      </li>
      <li class="nav-item text-center d-flex justify-content-center w-100">
        <a [routerLink]="'/venues'" routerLinkActive="active" class="nav-link my-3 w-100">
          <img src="assets/icons/venues.svg" alt="Venues">
          <span>VENUES</span>
        </a>
      </li>
      <li class="nav-item text-center d-flex justify-content-center w-100">
        <a [routerLink]="'/events'" routerLinkActive="active" class="nav-link my-3 w-100">
          <img src="assets/icons/events.svg" alt="Events">
          <span>EVENTS</span>
        </a>
      </li>
      <li class="nav-item text-center d-flex justify-content-center w-100">
        <a [routerLink]="'/pending-comments'" routerLinkActive="active" class="nav-link my-3 w-100">
          <img src="assets/icons/comments.svg" alt="Pending Comments">
          <span>Pending Comments</span>
        </a>
      </li>
      <li class="nav-item text-center d-flex justify-content-center w-100">
        <a [routerLink]="'/settings'" routerLinkActive="active" class="nav-link my-3 w-100">
          <img src="assets/icons/settings.svg" alt="Settings">
          <span>SETTINGS</span>
        </a>
      </li>
    </ul>
  </div>
</section>
