<div class="admin-dialog">
  <div class="body">
    <form class="admin-form" [formGroup]="notificationForm">
      <h2>GENERAL INFORMATION</h2>
      <div class="row">
        <div class="col-xl-6 mb-4">
          <input
            type="text"
            pInputText
            formControlName="title"
            placeholder="Title EN"
          />
          <div
            *ngIf="f['title'].errors && f['title'].touched"
            style="color: red"
          >
            <small *ngIf="f['title'].errors['required']"
              >Field is required.</small
            >
          </div>
        </div>
        <div class="col-xl-6 mb-4">
          <input
            type="text"
            pInputText
            formControlName="titleAr"
            placeholder="Title AR"
          />
          <div
            *ngIf="f['titleAr'].errors && f['titleAr'].touched"
            style="color: red"
          >
            <small *ngIf="f['titleAr'].errors['required']"
              >Field is required.</small
            >
          </div>
        </div>
      </div>
      <!-- <div class="row mb-3">
        <div class="col-xl-4 mb-xl-0">
          <p-calendar
            formControlName="schedule"
            [iconDisplay]="'input'"
            [showIcon]="true"
            [readonlyInput]="true"
            placeholder="Notification Date"
            [showTime]="true"
            class="custom-calendar"
          ></p-calendar>
          <div
            *ngIf="f['schedule'].errors && f['schedule'].touched"
            style="color: red"
          >
            <small *ngIf="f['schedule'].errors['required']"
              >Field is required.</small
            >
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-xl-6 mb-xl-0 mb-3">
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="body"
            placeholder="Body EN"
          ></textarea>
          <div *ngIf="f['body'].errors && f['body'].touched" style="color: red">
            <small *ngIf="f['body'].errors['required']"
              >Field is required.</small
            >
          </div>
        </div>
        <div class="col-xl-6 mb-xl-0 mb-3">
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            formControlName="bodyAr"
            placeholder="Body AR"
          ></textarea>
          <div
            *ngIf="f['bodyAr'].errors && f['bodyAr'].touched"
            style="color: red"
          >
            <small *ngIf="f['bodyAr'].errors['required']"
              >Field is required.</small
            >
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a class="btn resetBtn" (click)="onResetForm()">RESET</a>
    <button
      class="btn createBtn"
      (click)="notificationDetails ? editNotification() : onSubmitForm()"
    >
      <span>{{ this.notificationDetails ? "EDIT" : "CREATE" }}</span>
      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
    </button>
  </div>
</div>
