::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    background-color: transparent !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
  }

  .p-datatable .p-datatable-header {
    background-color: transparent;
    border: none;
  }

  .p-dropdown {
    width: 100% !important;
  }

  label {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: #183c5e;
    font-size: 14px;
    cursor: pointer;
  }

  .searchFilter {
    .p-input-icon-right > i {
      margin-top: -0.8rem;
    }
  }

  .filterActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
    .filterBtn {
      width: 145px;
      height: 49px;
      border-radius: 12.17px;
      color: white;
      background-color: #0000f5;
      font-size: 16px;
      font-weight: 700;
      padding: 16.22px, 20.28px, 16.22px, 20.28px;
      span {
        padding-right: 1rem;
      }
    }

    .resetBtn {
      font-size: 16px;
      font-weight: 700;
      color: #0000f5;
    }
  }
}

.paraContent {
  width: 100%;
}
