<section>
  <p>
    <strong> AlaFein! Terms and conditions: Welcome to AlaFein!</strong><br />
    By using our application, you agree to be bound by the following terms and
    conditions: - User Responsibility: You are responsible for your use of our
    application and any content you upload, publish, or display on our
    application. - Intellectual Property: Our application is owned by us and
    protected by intellectual property laws. - User Content: You retain all
    rights to your content, but by using our application, you grant us a license
    to use your content for the purpose of improving our services. - Information
    accuracy: We strive to provide accurate and up-to-date information on
    artistic and cultural events in Egypt. We collect our data directly from
    venues, organizers and artists to ensure its accuracy. However, we do not
    guarantee one hundred percent the accuracy, completeness or timeliness of
    any information on our application for unannounced sudden changes. - Changes
    to Terms and Conditions: We reserve the right to change these terms and
    conditions at any time. - Contact Us: If you have any questions or concerns
    about these terms and conditions, please contact us using the contact
    information provided on our application. By using our free bilingual mobile
    application, you acknowledge that you have read, understood, and agreed to
    these terms and conditions.
  </p>
</section>
