<section>
  <p>
    <strong>AlaFein! Privacy and Policy:</strong><br />
    We take the privacy and security of our users' personal information very seriously. By using our application, you agree to be bound by the following privacy policy:<br />
    - <strong>Information Collection:</strong> We collect personal information from users who create accounts on our app, including name, email address, and language preference.<br />
    - <strong>Information Use:</strong> We use this information to provide and improve our services, communicate with you, and personalize your experience on our app.<br />
    - <strong>Information Sharing:</strong> We do not sell or rent your personal information to third parties. We may share it with service providers who assist us in operating our app.<br />
    - <strong>Data Security:</strong> We take reasonable measures to protect the security of your personal information.<br />
    - <strong>User Content:</strong> We are not responsible for the accuracy or legality of user content, and we reserve the right to remove any content that violates our terms of service.<br />
    - <strong>Cookies and Tracking Technologies:</strong> We use cookies and other tracking technologies to improve your experience on our app.<br />
    - <strong>Changes to Privacy Policy:</strong> We reserve the right to change this privacy policy at any time.<br />
    - <strong>Contact Us:</strong> If you have any questions or concerns about this privacy policy, please contact us using the contact information provided on our app.<br />
    By using our app, you acknowledge that you have read, understood, and agreed to this privacy policy. We are committed to protecting your privacy and will take all reasonable measures to do so.
  </p>
</section>


<section>
  <p>
    <strong> AlaFein! Terms and conditions: Welcome to AlaFein!</strong><br />
    By using our application, you agree to be bound by the following terms and
    conditions: - User Responsibility: You are responsible for your use of our
    application and any content you upload, publish, or display on our
    application. - Intellectual Property: Our application is owned by us and
    protected by intellectual property laws. - User Content: You retain all
    rights to your content, but by using our application, you grant us a license
    to use your content for the purpose of improving our services. - Information
    accuracy: We strive to provide accurate and up-to-date information on
    artistic and cultural events in Egypt. We collect our data directly from
    venues, organizers and artists to ensure its accuracy. However, we do not
    guarantee one hundred percent the accuracy, completeness or timeliness of
    any information on our application for unannounced sudden changes. - Changes
    to Terms and Conditions: We reserve the right to change these terms and
    conditions at any time. - Contact Us: If you have any questions or concerns
    about these terms and conditions, please contact us using the contact
    information provided on our application. By using our free bilingual mobile
    application, you acknowledge that you have read, understood, and agreed to
    these terms and conditions.
  </p>
</section>
