<p-toast key="toast1"></p-toast>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>FACILITIES</h1>
    </div>
    <div class="col-md-6 d-md-flex justify-content-end">
      <button class="customBtn" (click)="show()">Add New Facility</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-custom-table
        [pageSize]="pageSize"
        [totalRecords]="totalRecords"
        [cols]="colsData"
        (pageNumber)="getFacilities($event)"
        [rows]="rowsData"
        [isDots]="true"
        (onDeleteClicked)="onDeleteFacility($event)"
        [actions]="actions"
        [pageType]="'Facility'"
      ></app-custom-table>
    </div>
  </div>
</div>
