<p-toast key="toast1"></p-toast>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1>CATEGORIES</h1>
    </div>
    <div class="col-md-6 d-md-flex justify-content-end">
      <button class="customBtn" (click)="show()">Add New Category</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-custom-table
        [pageSize]="pageSize"
        [totalRecords]="totalRecords"
        [cols]="colsData"
        (pageNumber)="getCategories($event)"
        (onDeleteClicked)="onDeleteCategory($event)"
        [rows]="rowsData"
        [actions]="actions"
        [pageType]="'Category'"
        [isDots]="true"
        (approveDetails)="changeCategoryStatus($event)"
        (disapproveDetails)="changeCategoryStatus($event)"
      ></app-custom-table>
    </div>
  </div>
</div>
