<p-toast key="toast1"></p-toast>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p class="title">GENERAL INFORMATION</p>
    </div>
  </div>
  <form [formGroup]="categoryForm">
    <div class="row">
      <div class="col">
        <input
          #fileInput
          type="file"
          id="formFile"
          accept="image/*"
          style="display: none"
          (change)="onFileSelected()"
        />
        <img
          [src]="
            this.uploadedImage
              ? 'https://alafein.azurewebsites.net/' + this.uploadedImage
              : '../../../../../assets/profile.svg'
          "
          style="cursor: pointer"
          (click)="fileInput.click()"
          [ngClass]="this.uploadedImage ? 'image-uploaded' : ''"
        />
        <span class="category-text">Upload the category picture</span>
        <div *ngIf="this.uploadedImage === null && isSubmit" style="color: red">
          <small *ngIf="this.uploadedImage === null"
            >Category Picture is required.</small
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <app-input-field
          [placeholder]="'Category EN'"
          formControlName="name"
        ></app-input-field>
        <div
          *ngIf="f['name'].errors && f['name'].touched"
          style="color: red"
        >
          <small *ngIf="f['name'].errors['required']"
            >Field is required.</small
          >
        </div>
      </div>
      <!-- <div class="col-md-4">
        <app-input-field
          [placeholder]="'Category EN'"
          formControlName="name"
        ></app-input-field>
      </div> -->
      <div class="col-md-4 d-md-flex mt-4 justify-content-end">
        <button
          class="customBtn"
          (click)="this.categoryDetails ? updateCategory() : createCategory()"
        >
          {{ this.categoryDetails ? "UPDATE" : "CREATE" }}
        </button>
      </div>
    </div>
  </form>
</div>
