<div class="admin-dialog">
  <div class="body">
    <form class="admin-form" [formGroup]="adminForm">
      <h2>GENERAL INFORMATION</h2>
      <div class="row">
        <div class="col-xl-4 mb-4">
          <input
            type="text"
            pInputText
            formControlName="firstName"
            placeholder="firstName"
          />
          <div
            *ngIf="f['firstName'].errors && f['firstName'].touched"
            style="color: red"
          >
            <small *ngIf="f['firstName'].errors['required']"
              >Field is required.</small
            >
          </div>
        </div>
        <div class="col-xl-4 mb-4">
          <input
            type="text"
            pInputText
            formControlName="email"
            placeholder="email"
          />
          <div
            *ngIf="f['email'].errors && f['email'].touched"
            style="color: red"
          >
            <small *ngIf="f['email'].errors['required']"
              >Field is required.</small
            >
          </div>
        </div>
        <div class="col-xl-4 mb-4">
          <p-dropdown
            formControlName="roleId"
            [options]="adminTypes"
            optionLabel="Name"
            optionValue="Id"
            [filter]="true"
            filterBy="Name"
            [showClear]="true"
            placeholder="Type"
            [disabled]="config.data"
          ></p-dropdown>
          <div
            *ngIf="f['roleId'].errors && f['roleId'].touched"
            style="color: red"
          >
            <small *ngIf="f['roleId'].errors['required']"
              >Field is required.</small
            >
          </div>
        </div>
        <div class="col-xl-4 mb-4" *ngIf="!config.data">
          <input
            type="text"
            pInputText
            formControlName="password"
            placeholder="Password"
          />
          <div
            *ngIf="f['password'].errors && f['password'].touched"
            style="color: red"
          >
            <small *ngIf="f['password'].errors['required']"
              >Field is required.</small
            >
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a class="btn resetBtn" (click)="onResetForm()">RESET</a>
    <button class="btn createBtn" (click)="onSubmitForm()">
      <span>CREATE</span>
      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
    </button>
  </div>
</div>
