<div class="event-dialog">
  <div class="body">
    <form class="event-form" [formGroup]="eventForm">
      <div class="event-general my-3">
        <h2>GENERAL INFORMATION</h2>
        <div class="row">
          <div class="col">
            <input
              #fileInput
              type="file"
              [disabled]="config?.data"
              id="formFile"
              accept="image/*"
              style="display: none"
              (change)="onFileSelected()"
            />
            <img
              [src]="
                this.uploadedImage
                  ? 'https://alafein.azurewebsites.net/' + this.uploadedImage
                  : 'assets/profile.svg'
              "
              style="cursor: pointer; margin: 1rem 1rem 1rem 0"
              (click)="fileInput.click()"
              [ngClass]="this.uploadedImage ? 'image-uploaded' : ''"
            />
            <span class="category-text"
              >Upload the event organizer picture.</span
            >
          </div>
          <div
            *ngIf="this.uploadedImage === null && isSubmit"
            style="color: red"
          >
            <small *ngIf="this.uploadedImage === null"
              >Profile Picture is required.</small
            >
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 mb-3" *ngIf="!editMode">
            <input
              type="text"
              pInputText
              formControlName="firstName"
              placeholder="First Name"
            />
            <div
              *ngIf="f['firstName'].errors && f['firstName'].touched"
              style="color: red"
            >
              <small *ngIf="f['firstName'].errors['required']"
                >First name is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3" *ngIf="!editMode">
            <input
              type="text"
              pInputText
              formControlName="lastName"
              placeholder="Last Name"
              [disabled]="editMode"
            />
            <div
              *ngIf="f['lastName'].errors && f['lastName'].touched"
              style="color: red"
            >
              <small *ngIf="f['lastName'].errors['required']"
                >Last name is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3" *ngIf="!config.data">
            <input
              type="email"
              pInputText
              formControlName="email"
              placeholder="Email"
              [disabled]="config?.data"
            />
            <div
              *ngIf="f['email'].errors && f['email'].touched"
              style="color: red"
            >
              <small *ngIf="f['email'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3" *ngIf="!editMode">
            <input
              type="password"
              pInputText
              formControlName="password"
              placeholder="Password"
              [disabled]="config?.data"
            />
            <div
              *ngIf="f['password'].errors && f['password'].touched"
              style="color: red"
            >
              <small *ngIf="f['password'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
        </div>
      </div>
    </form>
    <form class="event-form" [formGroup]="eventSecondForm">
      <div class="event-media-links">
        <h2>SOCIAL MEDIA LINKS</h2>
        <div class="row">
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="mapLink"
              placeholder="Map Link"
            />
            <div
              *ngIf="g['mapLink'].errors && g['mapLink'].touched"
              style="color: red"
            >
              <small *ngIf="g['mapLink'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="address"
              placeholder="Address"
            />
            <div
              *ngIf="g['address'].errors && g['address'].touched"
              style="color: red"
            >
              <small *ngIf="g['address'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="instagram"
              (change)="changeValidation('instagram')"
              placeholder="Instagram Link"
            />
            <div
              *ngIf="g['instagram'].errors && g['instagram'].touched"
              style="color: red"
            >
              <small *ngIf="g['instagram'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="facebook"
              (change)="changeValidation('instagram')"
              placeholder="Facebook Link"
            />
            <div
              *ngIf="g['facebook'].errors && g['facebook'].touched"
              style="color: red"
            >
              <small *ngIf="g['facebook'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="websiteURL"
              (change)="changeValidation('instagram')"
              placeholder="Website Link"
            />
            <div
              *ngIf="g['websiteURL'].errors && g['websiteURL'].touched"
              style="color: red"
            >
              <small *ngIf="g['websiteURL'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-4">
            <input
              type="text"
              pInputText
              formControlName="other"
              (change)="changeValidation('instagram')"
              placeholder="Other"
            />
            <div
              *ngIf="g['other'].errors && g['other'].touched"
              style="color: red"
            >
              <small *ngIf="g['other'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 mb-xl-0 mb-3">
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              formControlName="description"
              placeholder="Event Organizer Description"
            ></textarea>
            <div
              *ngIf="g['description'].errors && g['description'].touched"
              style="color: red"
            >
              <small *ngIf="g['description'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
          <div class="col-xl-4 mb-xl-0 mb-3">
            <p-dropdown
              formControlName="categoryId"
              [options]="eventTypes"
              optionLabel="Name"
              optionValue="Id"
              [showClear]="true"
              placeholder="Genre"
            ></p-dropdown>
            <div
              *ngIf="g['categoryId'].errors && g['categoryId'].touched"
              style="color: red"
            >
              <small *ngIf="g['categoryId'].errors['required']"
                >Field is required.</small
              >
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer">
    <a class="btn resetBtn" (click)="resetForm()">RESET</a>
    <button class="btn createBtn" (click)="onSubmitForm()">
      <span>{{ editMode ? "EDIT" : "CREATE" }}</span>
      <img
        src="assets/icons/arrow-right.svg"
        alt="Arrow Right"
        width="14"
        height="14"
      />
    </button>
  </div>
</div>

<p-toast key="toast1"></p-toast>
